body{
    background: url('https://res.cloudinary.com/dh41vh9dx/image/upload/v1549152866/iphoneXaccuratemask.png') center fixed no-repeat; 
   display: flex;
   text-align: center;
   height: 97vh;
}

h2{
    color: black;
    font-family: Roboto;
    font-size: 14px;
}

.phone-container {
    height: 555px;
    width: 287px;
    margin: auto;
    top: 0;
    bottom: 0;
    background-size: 100%;
   
}

/* Landing Pages Style */
.e-buttons-container{
    width: 271px;
    height: 490px;
    padding-top: 10px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
}
.e-button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: black solid 2px;
    border-radius: 10px;
    background-color: red;
    opacity: .8;
    height: 80px;
    width: 100px;
    margin: 10px;
}

/* Injury Page style */
.top-card {
    width: 374px;
    height: 178px;
    left: 18px;
    top: 123px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
}

.bottom-card{
    width: 374px;
    height: 258px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
}

#grey{
    width: 282px;
    border-radius: 3px;
    background-color: #bbb6b6
}
.yesNo {
    width: 106px;
    height: 24px;
    background: #FE3004;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}