body{
    background: url('https://res.cloudinary.com/dh41vh9dx/image/upload/v1549152866/iphoneXaccuratemask.png') center fixed no-repeat; 
   display: flex;
   text-align: center;
   height: 97vh;
}

h2{
    color: white;
    font-family: Roboto;
    font-size: 10px;
    margin-left: 10px;
}

.phone-container {
    background-color: #e2dfdf;
    height: 555px;
    width: 287px;
    margin: auto;
    top: 0;
    bottom: 0;
    background-size: 100%;
   
}

/* Landing Pages Style */
.e-buttons-container{
    width: 271px;
    height: 362px;
    padding-top: 10px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
}
.e-button {
    display: flex;
    align-items: flex-end;
    border: black solid 2px;
    border-radius: 10px;
    background-color: red;
    opacity: .8;
    width: 111px;
    height: 110px;
    margin: 10px;
}
#eb1{
    background-color: #F93C64;
    color: white;   
}
#eb2{
    background-color:#00C0FF;
}
#eb3{
    background-color: #2560E7
}
#eb4{
    background-color: #FFB700
}
#eb5{
    background-color: #0D1C7B;
    
}
/* Injury Page style */
.top-card {
    width: 374px;
    height: 178px;
    left: 18px;
    top: 123px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
}

.bottom-card{
    width: 374px;
    height: 258px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
}

#grey{
    width: 282px;
    border-radius: 3px;
    background-color: e2dfdf;
}
.yesNo {
    width: 106px;
    height: 24px;
    background: #FE3004;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}